@media screen and (max-width: 749px) {
	#top-nav {
	  height: 80px;
	}

	nav h1 a {
		font-size: 1rem;
		letter-spacing: 5px;
	}

	#breadcrumb {
		width: calc(100vw - 20px);
	}

	#footer {
		width: 100vw - 20px;
	}

	.inside {
		width: 100vw;
	}

	.inside #map-container {
		position: relative;
  		right: 0;
		height: 120px;
	}

	#restaurants-list li {
		margin: 10px 0;
	}

	#restaurants-list li h1 {
		font-size: 1.2rem;
	}

	#restaurant-container {
		padding: 0 0 40px 30px;
		width: 100%;
		margin: 20px 0;
	}

	#reviews-container {
		width: 96%;
		padding: 2%;
	}
}

@media screen and (min-width: 750px) {
	#top-nav {
		  height: 80px;
	}

	nav h1 a {
		font-size: 2rem;
		letter-spacing: 10px;
	}

	#breadcrumb {
		width: calc(50% - 20px);
	}

	.inside header {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1000;
	}

	.inside #map-container {
		position: fixed;
  		right: 0;
  		height: calc(100vh - 120px);
  		top: 80px;
  		width: 50%;
	}

	#restaurants-list li {
		margin: 20px;
	}
	#restaurants-list li h1 {
		font-size: 2rem;
	}

	#restaurant-container {
		margin: 125px 0 0;
		padding: 0px 30px 30px;
		width: 50%;
		margin: 125px 0 0;
	}

	#reviews-container {
		width: 46%;
		padding: 2%;
	}

	.inside #footer {
		width: 100vw;
	}
}
